
<div class="card">
    <div class="card-body">
        <table class="table" >
            <thead class="thead-light">
                <tr>
                    <th>Task Name</th>
                    <th>Requirment</th>
                    <th>Manager</th>
                    <th>Mark</th>
                    <th></th>
                </tr><!--end tr-->
            </thead>

            <tbody>
            </tbody>
        </table>
    </div><!--end card-body-->
</div><!--end card-->