
@model ProjectMaking.Models.ViewModel.vmSalesMan
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="row">
    <div class="col-lg-6">
        <form id="salesManForm">
            <div class="card">
                <div class="card-body">
                    <div class="form-material">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <input type="text" asp-for="Name" class="form-control" placeholder="Name...">
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input type="text" asp-for="Email" class="form-control" placeholder="Email...">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone"></label>
                                    <input type="text" asp-for="Phone" class="form-control" placeholder="Phone...">
                                </div>

                            </div><!--end col-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="DateTime"></label>
                                    <input type="text" asp-for="DateTime" class="form-control" placeholder="Date Time" id="mdate">
                                </div>

                                <div class="form-group">
                                    <label asp-for="IconClass"></label>
                                    <select asp-for="IconClass" class="select2 form-control">
                                        <option>--Select---</option>
                                        <option>mdi mdi-checkbox-marked-circle-outline</option>
                                        <option>mdi mdi-timer-off</option>
                                        <option>mdi mdi-alert-decagram</option>
                                        <option>mdi mdi-clipboard-alert</option>
                                        <option>mdi mdi-alert-decagram</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label asp-for="IconColor"></label>
                                    <select asp-for="IconColor" class="select2 form-control">
                                        <option>icon-warning</option>
                                        <option>icon-success</option>
                                        <option>icon-pink</option>
                                        <option>icon-primary</option>

                                    </select>
                                </div>
                            </div><!--end col-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="ClientId"></label>
                                    <select asp-for="ClientId" asp-items="@ViewBag.client" class="select2 form-control">
                                        <option value="value">--Select--</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ProductId"></label>
                                    <select asp-for="ProductId" asp-items="@ViewBag.product" class="select2 form-control">
                                        <option value="value">--Select--</option>
                                    </select>
                                </div>

                                @*<div class="form-group">
                                    <label asp-for="ManagerId"></label>
                                    <select asp-for="ManagerId" asp-items="@ViewBag.manager" class="select2 form-control">
                                        <option value="value">--Select--</option>
                                    </select>
                                </div>*@


                            </div><!--end col-->

                        </div><!--end row-->

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @*<label asp-for="Pass"></label>
                                        <input  id="toggle_checkbox" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" checked>*@
                                    <p class="text-muted font-14 mt-3 mb-2">Pass</p>
                                    <div class="radio radio-success form-check-inline">
                                        <input type="radio" value="true" asp-for="Pass" checked="">
                                        <label asp-for="Pass">Yes </label>
                                    </div>
                                    <div class="radio radio-success form-check-inline">
                                        <input type="radio" value="true" asp-for="Pass">
                                        <label asp-for="Pass">No </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label asp-for="SeheduleId"></label>
                                        <select asp-for="SeheduleId" asp-items="@ViewBag.shedule" class="select2 form-control">
                                            <option value="value">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-6">

                                <textarea asp-for="Address" class="form-control" cols="4" rows="4" placeholder="Enter address"></textarea>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <input asp-for="Image" type="file" id="input-file-now-custom-1" data-height="78" class="dropify" />
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-6">

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <input type="submit" id="salesManSave" class="btn btn-outline-success" value="Submit">
                                    <input type="button" class="btn btn-outline-danger" value="Close">
                                    <input type="reset" class="btn btn-outline-danger" value="Reset">
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end card-body-->
            </div><!--end card-->
        </form>
    </div> <!-- end col -->
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <table class="table" id="salesDataTable">
                    <thead class="thead-light">
                        <tr>
                            <th>Address</th>

                            <th></th>
                        </tr><!--end tr-->
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->

<div id="salesModified-Modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="salesmodified-FormDiv"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{


    <script src="~/js/Sales/sales.js"></script>
    <script>

        $("#salesManForm").validate({
            ignore: false,
            rules: {
                Name: {
                    required: true,
                },
                Phone: {
                    required: true,
                },

            },
        });
    </script>


}