
@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <div class="card-body">
        <table class="table" id="workSalesTaskData">
            <thead class="thead-light">
                <tr>
                    <th>Task Name</th>
                    <th>Requirment</th>
                    <th>Manager</th>
                    <th>Mark</th>
                    <th></th>
                </tr><!--end tr-->
            </thead>

            <tbody>
            </tbody>
        </table>
    </div><!--end card-body-->
</div><!--end card-->

@section Scripts{

 
    <script src="~/js/WorkTask/workTask.js"></script>

}
