
@{
    ViewData["Title"] = "Index";
}


<div class="card">
    <h5 class="card-header bg-primary text-white mt-0">Manager Chart</h5>
    <div class="card-body">
        <div class="text-right">
            <ul class="list-inline">

                <li class="list-inline-item">
                    <button type="button" class=" btn btn-primary managerAdd"><i class="fa fa-plus"></i> Add New</button>
                </li>
            </ul>
        </div>
        <table style="text-align:justify;" class="table table-hover" id="managerDataList">
            <thead class="thead-light">
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr><!--end tr-->
            </thead>

            <tbody>
            </tbody>
        </table>
    </div><!--end card-body-->
</div><!--end card-->

<div id="managerAdd-Modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div id="managerAdd-FormDiv"></div>
            </div>
        </div>
    </div>
</div>

<div id="managerEdit-Modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div id="managerEdit-FormDiv"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="~/js/Manager/manager.js"></script>
}

